html {
  box-sizing: border-box;
}
	*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  color: #F9FAF8;
}

.logo img {
  display: flex;
  width: auto;
  height: 25px;
  flex: 1 0 0;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #E5E7EB;
}

a {
  text-decoration: underline;
  color: #E5E7EB;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  margin: 64px 0;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.newsletter-text {
  max-width: 600px;
  font-size: 18px;
  color: #E5E7EB;
}

.newsletter-text p {
  margin: 0;
}

.hero {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.newsletter-text button {
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
  width: 100px;
  color: white;
  font-weight: bold;
  padding: 7px;
  margin-top: 10px;
}

.newsletter img {
  width: auto;
  max-height: 200px;
}

.merchandise {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
}

.merchandise > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.merchandise div img:not(.big-bongo) {
  border: 2px solid #3882F6;  
  border-radius: 15px;
  max-width: auto;
  max-height: 200px;
}

.big-bongo {
  border: 2px solid #3882F6;  
  border-radius: 15px;
  max-width: 300px;
  max-height: auto;
} 

.back-white {
  background-color: white;
}

.back-grey {
  background-color: #E5E7EB;
}

.back-grey div {
  margin: 32px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-weight: 1;
  font-style: italic;
  color: #1F2937;
}

.author {
  align-self: end;
  font-weight: bold;
}